



#KMXXIaH1A3pPOv9fZzVAcOTk1ECfwoCm { font-size:68px; }















#Af7nhu1oR6lZt2mwPyTLSGCyH6HwwSLT { font-size:16px; }

#qW37Mb6qRextqV4nQ9KqWFQTdXGveS0n .widget.widget-input-checkbox{padding: 0; border: 0; box-sizing: content-box; background-color: rgba(0,0,0,.0);}





